@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	/* Custom TailWindCSS components Goes Here */
	.min-w-20 {
		min-width: 4rem;
	}
	.min-h-20 {
		min-height: 4rem;
	}
	.max-w-xs {
		max-width: 18rem;
	}
}

@layer components {
	/* Custom TailWindCSS Goes Here */
	.Menu {
		@apply grid gap-2 grid-cols-4
		max-w-xs mx-auto my-4;
	}

	.MenuItem {
		@apply bg-gray-800 rounded-3xl text-white text-3xl
		p-3 min-w-20 min-h-20
		flex justify-center items-center
		transition-all;
	}

	#Utils {
		@apply row-span-2 col-span-2
		h-32 justify-items-center
		grid grid-cols-2 gap-2;
	}

	.MenuItemIcon {
		@apply w-12 h-12
		bg-gray-700 rounded-full
		flex justify-center items-center
		transition-all;
	}

	#MusicPlayer {
		@apply row-span-2 col-span-2
		h-32;
	}

	#Brightness {
		@apply row-span-2;
	}

	#Volume {
		@apply row-span-2;
	}

	#ScreenMirroring {
		@apply col-span-2;
	}

	#Brightness,
	#Volume {
		@apply items-end pb-5;
	}

	#ScreenMirroring {
		@apply text-base font-medium;
	}

	body {
		@apply bg-gray-200;
	}
}
